<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app id="WebApp">
	<display-name>TEAMWork Download Server</display-name>
	<context-param>
		<param-name>configdir</param-name>
		<param-value>c:\teamup\download</param-value>
	</context-param>
	<servlet>
		<servlet-name>ControllerServlet</servlet-name>
		<display-name>CarrierAdminServlet</display-name>
		<servlet-class>connective.teamup.download.ControllerServlet</servlet-class>
		<init-param>
			<param-name>config_file</param-name>
			<param-value>/carrier.xml</param-value>
		</init-param>
		<init-param>
			<param-name>default_page</param-name>
			<param-value>splash</param-value>
		</init-param>
		<init-param>
			<param-name>security</param-name>
			<param-value>false</param-value>
		</init-param>
		<init-param>
			<param-name>app_name</param-name>
			<param-value>Company App</param-value>
		</init-param>
		<security-role-ref>
			<role-name>admin_user</role-name>
			<role-link>admin_user</role-link>
		</security-role-ref>
	</servlet>
	<servlet>
		<servlet-name>ControllerServlet1</servlet-name>
		<display-name>AgencyServlet</display-name>
		<servlet-class>connective.teamup.download.ControllerServlet</servlet-class>
		<init-param>
			<param-name>config_file</param-name>
			<param-value>/agency.xml</param-value>
		</init-param>
		<init-param>
			<param-name>default_page</param-name>
			<param-value>splash</param-value>
		</init-param>
		<init-param>
			<param-name>security</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>logon_page</param-name>
			<param-value>logon</param-value>
		</init-param>
		<init-param>
			<param-name>logon_action</param-name>
			<param-value>logon</param-value>
		</init-param>
		<init-param>
			<param-name>logonkey_action</param-name>
			<param-value>logonkey</param-value>
		</init-param>
		<init-param>
			<param-name>app_name</param-name>
			<param-value>Agency Browser App</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>ResourceServlet</servlet-name>
		<display-name>ResourceServlet</display-name>
		<servlet-class>connective.teamup.download.ResourceServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ConfigServlet</servlet-name>
		<display-name>ConfigServlet</display-name>
		<servlet-class>connective.teamup.download.ConfigServlet</servlet-class>
		<init-param>
			<param-name>config_file</param-name>
			<param-value>/configwizard.xml</param-value>
		</init-param>
		<init-param>
			<param-name>default_page</param-name>
			<param-value>config2</param-value>
		</init-param>
		<init-param>
			<param-name>app_name</param-name>
			<param-value>Download Config App</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>DBConfigServlet</servlet-name>
		<display-name>DBConfigServlet</display-name>
		<servlet-class>connective.teamup.download.DBConfigServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ControllerServlet2</servlet-name>
		<display-name>ControllerServlet</display-name>
		<description>Batch Import</description>
		<servlet-class>connective.teamup.download.ControllerServlet</servlet-class>
		<init-param>
			<param-name>config_file</param-name>
			<param-value>/import.xml</param-value>
		</init-param>
		<init-param>
			<param-name>default_page</param-name>
			<param-value>batch.import</param-value>
		</init-param>
		<init-param>
			<param-name>security</param-name>
			<param-value>false</param-value>
		</init-param>
		<init-param>
			<param-name>app_name</param-name>
			<param-value>Company Import App</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>FileGeneratorServlet</servlet-name>
		<display-name>FileGeneratorServlet</display-name>
		<servlet-class>connective.teamup.download.FileGeneratorServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>WebSvcServlet</servlet-name>
		<display-name>WebSvcServlet</display-name>
		<servlet-class>connective.teamup.download.WebSvcServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>WSServlet</servlet-name>
		<display-name>WSServlet</display-name>
		<servlet-class>connective.teamup.download.WSServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>WSServletRaw</servlet-name>
		<display-name>WSServletRaw</display-name>
		<servlet-class>connective.teamup.download.WSServletRaw</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>WSServletOld</servlet-name>
		<display-name>WSServletOld</display-name>
		<description></description>
		<servlet-class>
		connective.teamup.download.WSServletOld</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Sec Provider WS</servlet-name>
		<display-name>Sec Provider WS</display-name>
		<description></description>
		<servlet-class>
		connective.teamup.download.WSSecProvServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ControllerServlet</servlet-name>
		<url-pattern>/company</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ControllerServlet1</servlet-name>
		<url-pattern>/agency</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ResourceServlet</servlet-name>
		<url-pattern>/resource</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ConfigServlet</servlet-name>
		<url-pattern>/pconfig</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DBConfigServlet</servlet-name>
		<url-pattern>/config</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ControllerServlet2</servlet-name>
		<url-pattern>/import</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FileGeneratorServlet</servlet-name>
		<url-pattern>/dlclean.bat</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>WebSvcServlet</servlet-name>
		<url-pattern>/websvc</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>WSServletRaw</servlet-name>
		<url-pattern>/ws2_raw</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>WSServlet</servlet-name>
		<url-pattern>/ws2</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>WSServletOld</servlet-name>
		<url-pattern>/ws</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Sec Provider WS</servlet-name>
		<url-pattern>/sp</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<taglib>
		<taglib-uri>http://java.sun.com/jstl/core</taglib-uri>
		<taglib-location>/WEB-INF/c.tld</taglib-location>
	</taglib>
	<resource-ref id="ResourceRef_1102297566614">
		<res-ref-name>jdbc/teamupdl</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
		<res-sharing-scope>Unshareable</res-sharing-scope>
	</resource-ref>
	<resource-ref id="ResourceRef_1109364744770">
		<res-ref-name>mail/teamupdl</res-ref-name>
		<res-type>javax.mail.Session</res-type>
		<res-auth>Container</res-auth>
		<res-sharing-scope>Shareable</res-sharing-scope>
	</resource-ref>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>(New Web Resource Collection)</web-resource-name>
			<description>Admin Servlet</description>
			<url-pattern>/company</url-pattern>
			<url-pattern>/config</url-pattern>
			<http-method>
			GET</http-method>
			<http-method>
			POST</http-method>
		</web-resource-collection>
		<auth-constraint>
			<description></description>
			<role-name>admin_user</role-name>
		</auth-constraint>
		<user-data-constraint>
			<transport-guarantee>NONE</transport-guarantee>
		</user-data-constraint>
	</security-constraint>
	<login-config>
		<auth-method>FORM</auth-method>
		<form-login-config>
			<form-login-page>/carrier/login.jsp</form-login-page>
			<form-error-page>/carrier/login.jsp</form-error-page>
		</form-login-config>
	</login-config>
	<security-role>
		<description>Has access to the carrier admin program</description>
		<role-name>admin_user</role-name>
	</security-role>
	
	<servlet>
		<servlet-name>mvc-dispatcher</servlet-name>
		<display-name>mvc-dispatcher</display-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>mvc-dispatcher</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>  
            /WEB-INF/mvc-dispatcher-servlet.xml,  
            /WEB-INF/spring-security.xml
        </param-value>
	</context-param>

	<!-- Spring Security -->

	<filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
</web-app>
